VKMusicOffline.xcodeproj/project.xcworkspace/xcuserdata/vvolodko.xcuserdatad/UserInterfaceState.xcuserstate
VKMusicOffline.xcodeproj/xcuserdata/vvolodko.xcuserdatad/xcschemes/VKMusicOffline.xcscheme
VKMusicOffline.xcodeproj/xcuserdata/vvolodko.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
VKMusicOffline.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
VKMusicOffline.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/VKMusicOffline.xcscheme
VKMusicOffline.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
VKMusicOffline/SDKs/UIViews/UIViews.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/UIViews.xcscheme
VKMusicOffline/SDKs/UIViews/UIViews.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
VKMusicOffline/SDKs/MGSwipeCells/MGSwipeCells.xcodeproj/xcuserdata/vvolodko.xcuserdatad
.DS_Store
