VKMusicOffline.xcodeproj/project.xcworkspace/xcuserdata/vvolodko.xcuserdatad/UserInterfaceState.xcuserstate
VKMusicOffline.xcodeproj/xcuserdata/vvolodko.xcuserdatad/xcschemes/VKMusicOffline.xcscheme
VKMusicOffline.xcodeproj/xcuserdata/vvolodko.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
